.div-2{
  display: grid;
  grid-template-columns: 50% 20% 15% 15% ;
  align-items: center;
  
}
.div-3 button{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}
.div-3{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}